:root {
  --primary-main: #4D1370;
  --secondary-main: #00720B;
}

body {
  background-color: var(--secondary-main);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  padding: 25px;
  background-color: var(--primary-main);
  border: 3px solid white;
}
